/* user.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
h2 {
    color: #333;
}
div {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
p {
    color: #333;
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}
